.padre{
    position: relative;
}
.cabecera{
    display: flex; 
    width: 100%;
    height: 100%;
    justify-content: end;       
}


header {
    background-image: url("./imagen/COCHE\ ROJO.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.menu{
    display: flex;
    width: 60%;
    height: 60%;
}

.perfil{
    object-fit: cover;
    height: 160px;
    max-width: 80px;
}

.logo{
    object-fit: cover;
    height: 58px;
    max-width: 28px;
}

.pie{
    padding-top: 350px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
   
    min-width: auto;
    color: aliceblue;
     
.pie_old{
    position: absolute; 
    left:0px; 
    right:0px; 
    bottom:0px; 
    top: 100%;
    height: 150px; 
    z-index:0;
    color: aliceblue;
}
.button{

    height: 100%;
    width: 100%;
    background-color: blueviolet;
    color: white;
}

.padre_main{
    position: absolute;
    padding-top: 50px;
}